
a {
  cursor: pointer;
}

html,
body {
  background: #FFFFFF;
  font-family: Times New Roman, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

rect {
	fill: #3CAEA3;
}